#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    z-index: 1500;
    border: 4px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin2 1.5s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 26px;
    left: 26px;
    right: 26px;
    bottom: 26px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 0.6s linear infinite;
    animation: spin 0.4s linear infinite;
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin2 {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(-360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(-360deg);  /* IE 9 */
        transform: rotate(-360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
